In [1]:
import fasttext

import pandas as pd
import numpy as np

In [2]:
# dataset = 'R8'
dataset = 'CHINESE'

In [3]:
doc_content_list = []

with open('../cleaned_data/' + dataset + '/corpus/' + dataset + '.txt', 'r') as f:
    for line in f.readlines():
        doc_content_list.append(line.strip())
        
doc_label_list = []
with open('../cleaned_data/' + dataset + '/' + dataset + '.txt', 'r') as f:
    for line in f.readlines():
        doc_label_list.append(line.strip().split())

doc_label_list = np.array(doc_label_list)

df = pd.DataFrame()


df['content'] = doc_content_list
df['set'] = doc_label_list[:,1]
df['label'] = doc_label_list[:,2]

df.head()

                                             content    set label
0  大 号 实用 专家   图解 雷诺 全新 一代 风景                    ...  train     4
1  4 岁 的 小女孩 童童 ( 化名 ) 最近 变 了 样子 ， 她 的 脖子 出现 了 一圈...  train     5
2  资源税 改 , 新疆 先行 - 关于 在 新疆 率先 实施 资源 税费 改革 的 点评   ...  train     1
3  网易 体育 3 月 5 日 消息   在 圣 西罗 全省 而 退 ， 他们 不仅 将 米兰 ...  train     3
4  网易 体育 4 月 8 日 消息   常规赛 进入 收官 阶段 ， 谁 能 获得 今年 常规...  train     3

In [4]:
train_df = df.loc[df['set'] == 'train']
test_df = df.loc[df['set'] == 'test']

In [5]:
train = train_df[['content', 'label']].to_numpy()

In [6]:
with open('../cleaned_data/' + dataset + '/fastText/' + dataset + '_train.txt', 'w') as f:
    for d in train:
        line = '__label__'+d[1]+' '+d[0]+'\n'
        f.write(line)
f.close()

In [7]:
test = test_df[['content', 'label']].to_numpy()
with open('../cleaned_data/' + dataset + '/fastText/' + dataset + '_test.txt', 'w') as f:
    for d in test:
        line = '__label__'+d[1]+' '+d[0]+'\n'
        f.write(line)
f.close()

In [8]:
model = fasttext.train_supervised(input='../cleaned_data/' + dataset + '/fastText/' + dataset + '_train.txt', lr=0.5, epoch=10)

In [9]:
model.test('../cleaned_data/' + dataset + '/fastText/' + dataset + '_test.txt')

(1200, 0.9583333333333334, 0.9583333333333334)