In [5]:
import fasttext

import pandas as pd
import numpy as np

In [6]:
dataset = 'R8'

In [7]:
doc_content_list = []

with open('../cleaned_data/corpus/' + dataset + '.txt', 'rb') as f:
    for line in f.readlines():
        doc_content_list.append(line.strip().decode('latin1'))
        
doc_label_list = []
with open('../cleaned_data/' + dataset + '.txt', 'rb') as f:
    for line in f.readlines():
        doc_label_list.append(line.strip().decode('latin1').split())

doc_label_list = np.array(doc_label_list)

df = pd.DataFrame()


df['content'] = doc_content_list
df['set'] = doc_label_list[:,1]
df['label'] = doc_label_list[:,2]

df.head()

                                             content    set label
0  champion products ch approves stock split cham...  train  earn
1  computer terminal systems cpml completes sale ...  train   acq
2  cobanco inc cbco year net shr cts vs dlrs net ...  train  earn
3  am international inc am nd qtr jan oper shr lo...  train  earn
4  brown forman inc bfd th qtr net shr one dlr vs...  train  earn

In [8]:
train_df = df.loc[df['set'] == 'train']
test_df = df.loc[df['set'] == 'test']

In [9]:
train = train_df[['content', 'label']].to_numpy()

In [12]:
with open('../cleaned_data/fastText/' + dataset + '_train.txt', 'w') as f:
    for d in train:
        line = '__label__'+d[1]+' '+d[0]+'\n'
        f.write(line)
f.close()

In [14]:
test = test_df[['content', 'label']].to_numpy()
with open('../cleaned_data/fastText/' + dataset + '_test.txt', 'w') as f:
    for d in test:
        line = '__label__'+d[1]+' '+d[0]+'\n'
        f.write(line)
f.close()

In [23]:
model = fasttext.train_supervised(input='../cleaned_data/fastText/' + dataset + '_test.txt', lr=0.5, epoch=10)

In [24]:
model.test('../cleaned_data/fastText/' + dataset + '_test.txt')

(2189, 0.9744175422567383, 0.9744175422567383)